In [5]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('final.csv', parse_dates = ['date'], index_col = 'date')
df.head()

             so2   no2   rspm    spm location_monitoring_station
date
2005-01-04  10.9  62.9  203.0  384.0                    Mayapuri
2005-01-05  25.1  64.1  381.0  601.0                    Mayapuri
2005-01-14  15.9  58.1  217.0  479.0                    Mayapuri
2005-01-15  17.5  77.8  246.0  558.0                    Mayapuri
2005-01-18   8.5  70.0  306.0  574.0                    Mayapuri

In [3]:
w = [5,43,133,201] #these values are taken as per the Indian standards
w_sum = 0
for i in range(0,len(w)):
    w_sum += w[i]

w_ratio = []
for i in range(len(w)):
    x = float(w[i])/float(w_sum)
    w_ratio.append(x)
print(w_ratio)

[0.013089005235602094, 0.112565445026178, 0.3481675392670157, 0.5261780104712042]

In [6]:
s = [50,40,60,40] 
list_aqi = []
conc = []

for index,row in df.iterrows():
    # concentration (mean/median) for each pollutant
    conc = [ row['so2'], row['no2'], row['spm'], row['rspm'] ]
    
    # calculating pollution index
    q = []
    for i in range(0,4):
        z = s[i]*conc[i]/100
        q.append(z)
    
    #AQI calculation
    aqi = 0
    for i in range(0,4):
        aqi += q[i]*w_ratio[i]
    
    list_aqi.append(aqi)
    
# loading the calculated AQI in the dataframe
df['aqi'] = np.array(list_aqi)

In [7]:
df.head()

             so2   no2   rspm    spm location_monitoring_station         aqi
date
2005-01-04  10.9  62.9  203.0  384.0                    Mayapuri  125.846937
2005-01-05  25.1  64.1  381.0  601.0                    Mayapuri  208.789188
2005-01-14  15.9  58.1  217.0  479.0                    Mayapuri  148.455681
2005-01-15  17.5  77.8  246.0  558.0                    Mayapuri  171.959974
2005-01-18   8.5  70.0  306.0  574.0                    Mayapuri  187.520550

In [8]:
df.to_csv('location_aqi')